html, body {
  color: #fff;
  display: block;
  font-family: monospace;
  min-height: 98vh;
  min-width: 250px;
  overflow-x: hidden;
  width: 100vw;
  --primary: #04e0e1;
  --secondary: #e8c300;
  --primary-background: #003e56;
}
body {
  background: #223 url('/img/skybox.jpg');
  background-attachment: fixed;
  background-repeat: repeat-y;
  margin: 0 5vw;
  width: 90vw;
}

#mainview {

}
.page {
  display: none;
  opacity: 0;
  transition: opacity 0.3s;
  max-width: 992px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
.loading {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
}
.loading .orbit {
  animation: rotation infinite 5s linear;
  border: 2px solid white;
  border-radius:50%;
  left: 50%;
  margin: 1px;
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%) rotate(0);
}
.loading .planet {
  background: white;
  border-radius: 50%;
  height: 3vw;
  left: 50%;
  position: relative;
  top: -1.5vw;
  width: 3vw;
}

@keyframes rotation {
	0% {
		transform: translate(-50%, -50%) rotate(0);
	}
	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}
.loading .orbit.o1 {
  height: 50vw;
  width: 50vw;
}
.loading .orbit.o2 {
  height: 35vw;
  width: 35vw;
}
.loading .orbit.o3 {
  height: 20vw;
  width: 20vw;
}
