html, body {
  color: #fff;
  display: block;
  font-family: monospace;
  min-height: 98vh;
  min-width: 250px;
  overflow-x: hidden;
  width: 100vw;
  --primary: #04e0e1;
  --secondary: #e8c300;
  --primary-background: #003e56;
}
body {
  background: #223 url('/img/skybox.jpg');
  background-attachment: fixed;
  background-repeat: repeat-y;
  margin: 0 5vw;
  width: 90vw;
}

#mainview {

}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
